<!doctype html>
<html>
<head>
    <title>delucia</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular-animate.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
    <script src="bower_components/angular-vimeo-embed/dist/angular-vimeo-embed.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
</head>
<body ng-app="myApp" ng-controller="MyController">
<ng-modal ng-if="isOpen"></ng-modal>

<article class="flexbox-column full-height">

    <header class="flexbox-row no-flex padding-1">
        <h1 class="flex-1 flex-start title"><a href="#/">delucia</a></h1>
        <search class="flex-1 margin-auto">
            <div class="flexbox-row search-cnt">
                <input id="search-stuff" class="text-center text-color-white" ng-model="searchItem" type="search" placeholder="search" />
                <i class="fa fa-search"></i>
            </div>
        </search>
        <div class="flex-1">&nbsp;</div>
    </header>

    <div class="search-results" ng-if="searchItem">
        <ul>
            <li ng-repeat="item in messages | filter: searchItem" class="animate-repeat"><a ng-click="closeResults()" href="#/{{item.language}}/{{item.title}}">{{item.title}}</a></li>
        </ul>
    </div>

    <main class="flexbox-row flex-1">
        <aside>
            <ul class="menu">
                <li><a href="#/">home</a></li>
                <li ng-if="item" ng-repeat="item in languages">
                    <a href="#/{{item}}">{{item}}</a>
                </li>
                <li><a href="#/form">submit new</a></li>
            </ul>
        </aside>
        <section ng-view></section>
    </main>
    
    <footer ng-if="showFooter" class="no-flex">boom</footer>

</article>


<script type="text/javascript" src="scripts/fb.js"></script>
<script type="text/javascript" src="scripts/ng.js"></script>

</body>
</html>
