<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
</head>
<body ng-app="myApp">

<article>
    
<header class="grad-blue">
    <div class="search-cnt">
        <label>Paco</label>
        <input type="text" ng-model="bindme" ng-class="{'grad-red' : $dirty}" />
        <span><i class="fa fa-search fa-2x"></i></span>
    </div>
</header>

<main>
    <nav>
        <ul>
            <li ng-click="this.isSelected = !this.isSelected" ng-class="{'selected' : this.isSelected}">video</li>
            <li ng-click="this.isSelected = !this.isSelected" ng-class="{'selected' : this.isSelected}">details</li>
        </ul>
    </nav>
    <section>
        <video></video>
        
        <div ng-controller="MyController">
            <p ng-repeat="item in messages">from : {{item.from}} body: {{item.body}}</p>
        </div>
    </section>
</main>

<footer></footer>

</article>




    <script type="text/javascript" src="scripts/fb.js"></script>
    <script type="text/javascript" src="scripts/ng.js"></script>
</body>
</html>