<div class="form-view margin-auto half-width" ng-controller="MyController">
    <h2>Sumbit a lesson</h2>
    <p class="tip">Create and upload your video lesson.</p>
    
    <div ng-controller="myForm">
        <form novalidate class="add-new-form">
            
            <div class="row">
                <div class="group">
                    <label for='nameInput'>Username:</label>
                    <input ng-model='user.name' type='text' placeholder='enter a username'>
                </div>
                <div class="group">
                    <label for='messageInput'>Lesson:</label>
                    <textarea ng-model='user.msg' type='text' placeholder='enter lesson' rows="10"></textarea>
                </div>
                <div class="group">
                    <label for='videoInput'>Video:</label>
                    <input ng-model='user.video' type='text' placeholder='video filename'>
                </div>
                <div class="group">
                    <label>Language</label>
                    <select ng-options="language for language in languages" ng-model="user.language">
                        <option value="">-- choose language --</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="group flexbox-column">
                    <input type="submit" ng-click="submitForm(user)" value="Save" />
                    <input type="button" ng-click="reset(user)" value="Reset" class="no-border" />
                </div>
            </div>
            
            <!--<div>
                <button>create your video</button>
            </div>
            <div class="flexbox-row input-submit">
                <input placeholder="lesson title" type="text" class="flex-1" />
                <select class="no-flex">
                    <option>select language</option>
                </select>
            </div>
            <div>
                <input placeholder="your location" type="text" />
            </div>-->
        </form>
    </div>
    <!--
    <label for='nameInput'>Username:</label>
    <input ng-model='name' type='text' id='nameInput' placeholder='enter a username...'>
    <input ng-model='msg' ng-keydown="addMessage($event)" type='text' id='messageInput'  placeholder='Type a message...'>
    -->
</div>