<div class="form margin-auto" ng-controller="MyController">
    <h2>Share your video</h2>
    
    <div ng-controller="myForm">
        <form novalidate>
            
            <label for='nameInput'>Username:</label>
                <input ng-model='user.name' type='text' placeholder='enter a username...'>
                
            <label for='messageInput'>Message:</label>
                <input ng-model='user.msg' type='text' placeholder='Type a message...'>
                
            <div>
                <input type="submit" ng-click="submitForm(user)" value="Save" />
                <input type="button" ng-click="reset(user)" value="Reset" />
            </div>
            
            <!--<div>
                <button>create your video</button>
            </div>
            <div class="flexbox-row input-submit">
                <input placeholder="lesson title" type="text" class="flex-1" />
                <select class="no-flex">
                    <option>select language</option>
                </select>
            </div>
            <div>
                <input placeholder="your location" type="text" />
            </div>-->
        </form>
    </div>
    <!--
    <label for='nameInput'>Username:</label>
    <input ng-model='name' type='text' id='nameInput' placeholder='enter a username...'>
    <input ng-model='msg' ng-keydown="addMessage($event)" type='text' id='messageInput'  placeholder='Type a message...'>
    -->
</div>