<section class="flexbox-column">
    <h1>home</h1>
    <div class="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nisi at turpis consequat fermentum. Maecenas ut metus quis odio pellentesque mattis et eget risus. Fusce a tincidunt magna. Fusce et justo eu velit posuere venenatis</p> <p>scelerisque sed sapien. Nunc eleifend vehicula quam ac faucibus. Vivamus ut libero euismod, tincidunt libero a, congue arcu. Nam ut fringilla augue, at venenatis felis. Vivamus orci ipsum, commodo sit amet sollicitudin ut, molestie quis augue. Donec in ultricies magna.</p>
    </div>
    <div class="bg-color-white">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nisi at turpis consequat fermentum. Maecenas ut metus quis odio pellentesque mattis et eget risus. Fusce a tincidunt magna. Fusce et justo eu velit posuere venenatis scelerisque sed sapien. Nunc eleifend vehicula quam ac faucibus. Vivamus ut libero euismod, tincidunt libero a, congue arcu. Nam ut fringilla augue, at venenatis felis. Vivamus orci ipsum, commodo sit amet sollicitudin ut, molestie quis augue. Donec in ultricies magna.</p>
    </div>
    <div class="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nisi at turpis consequat fermentum. Maecenas ut metus quis odio pellentesque mattis et eget risus. Fusce a tincidunt magna. Fusce et justo eu velit posuere venenatis scelerisque sed sapien. Nunc eleifend vehicula quam ac faucibus. Vivamus ut libero euismod, tincidunt libero a, congue arcu. Nam ut fringilla augue, at venenatis felis. Vivamus orci ipsum, commodo sit amet sollicitudin ut, molestie quis augue. Donec in ultricies magna.</p>
    </div>
    <div class="bg-color-white">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nisi at turpis consequat fermentum. Maecenas ut metus quis odio pellentesque mattis et eget risus. Fusce a tincidunt magna. Fusce et justo eu velit posuere venenatis scelerisque sed sapien. Nunc eleifend vehicula quam ac faucibus. Vivamus ut libero euismod, tincidunt libero a, congue arcu. Nam ut fringilla augue, at venenatis felis. Vivamus orci ipsum, commodo sit amet sollicitudin ut, molestie quis augue. Donec in ultricies magna.</p>
    </div>
</section>