<nav class="flex-1 margin-auto text-center">
    <ul class="inline-list">
        <li>filter by :</li>
        <li><div><a>recent</a></div></li>
        <li><div><a>region</a></div></li>
        <li><div><a ng-click="pulldown = !pulldown" ng-class="{'text-color-blue': pulldown}">language</a></div></li>
        <li><div><a>user</a></div></li>
        <li><div><a>rating</a></div></li>
        <li><div><a href="#/form">submit</a></form-open></div></li>
    </ul>
    <div ng-if="pulldown" class="pull-down">
        <h3 class="text-color-white">choose your language</h3>
        <ul class="inline-list">
            <li class="padding-1"><a href="#/english" class="text-color-white">english</a></li>
            <li class="padding-1"><a href="#/spanish" class="text-color-white">spanish</a></li>
            <li class="padding-1"><a href="#/indonesia" class="text-color-white">indonesia</a></li>
        </ul>
    </div>
</nav>
<search class="display-flex no-flex">
    <div class="search-cnt">
        <input ng-model="hasResults" type="search" placeholder="What do you want say?" />
        <i class="fa fa-search"></i>
    </div>
</search>


<!--<nav ng-controller="myNav" class="hide">
    <ul>
        <li ng-click="this.isSelected = !this.isSelected" ng-class="{'selected' : this.isSelected}">video</li>
        <li ng-click="this.isSelected = !this.isSelected" ng-class="{'selected' : this.isSelected}">details</li>
    </ul>
</nav>-->

<section ng-controller="MyController">
    
    
    <div class="list-cnt">
        <!--<label for='nameInput'>Username:</label>
        <input ng-model='name' type='text' id='nameInput' placeholder='enter a username...'>
        <input ng-model='msg' ng-keydown="addMessage($event)" type='text' id='messageInput'  placeholder='Type a message...'>-->
        <ol>
<!--            <li ng-repeat="msg in messages | filter: hasResults as results" class="hide-me"> <span>{{msg.body}} <small ng-if="msg.from">from : {{msg.from}} </small> </span></li>
-->
            <li ng-repeat="item in messages">
                <span ng-if="item.author">author : {{item.author}} </span>
                <span ng-if="item.title">title : {{item.title}} </span>
                <span ng-if="item.language">language : {{item.language}}</span>
            </li>
        </ol>
    </div>


</section>