@import url("globals.css");

ol {
    color: #aaa;
    padding: 0 1.5em;
}
ol > li {
    padding: 0 5px;
}
ol > li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
ol > li > span {
    color: #555;
    font-size: 24px;
    line-height: 1.5em;
    display: inline-block;
    width: 100%;
}
ol > li > span > small {
    float: right;
    font-size: 14px;
}

article {
    background: white;
}
header {
    border-bottom: 1px solid #e6e6e6;
    background: rgb(36, 46, 71);
    /*min-height: 50px;*/
    /*max-height: 75px;*/
}
footer {
    background-color: whitesmoke;
}
main {
    background-color: whitesmoke;
}
aside {
    flex: 4;
    max-width: 200px;
}
section {
    display: flex;
    flex-direction: column;
    flex: 8;
    text-align: center;
}

search {
    background: white;
    margin: auto;
    width: 100%;
    /*box-shadow: 0px 0px 0px 15px #f9f9f9, inset 0px 0px 0px 1px #e9e9e9;*/
}
search:hover {
    /*box-shadow: inset 0px 0px 0px 1px #eee;*/
}
.search-cnt {
    flex: 1 1 auto;
    text-align: center;
    /*max-width: 70%;*/
    /*min-height: 50px;*/
    color: #aaa;
    margin: auto;
    font-size: 30px;
    max-width: 75%;
}
.search-cnt input {
    background-color: transparent;
    border: none;
    /*border-width: 0 0 2px 0;*/
    flex: 1;
    outline: none;
    margin: auto 10px;
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
.search-cnt button {
    flex: none;
    border: none;
    background: transparent;
    /*border: 1px solid #ddd;*/
    padding: 0 20px;
    font-size: 2em;
}
.search-cnt label {
    padding: 10px;
    margin: auto;
}
.search-cnt span {
    flex-direction: end;
}
.search-cnt button {
    flex: none;
}
video {
    background-color: #111;
    border: 1px solid #bbb;
}
nav {
    width: 75%;
    position: relative;
}

nav ul {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex: 1;*/
}
nav ul > li {
    /*flex: 1;*/
    color: #aaa;
    margin: auto;
}
/*nav ul > li > div {
    margin: auto;
}*/
.selected {
    background-color: blue;
}

.list-cnt {
    margin: 0 auto;
    text-align: left;
    width: 75%;
    max-width: 500px;
}

.modal {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.add-new-form {
    /*width: 75%;*/
}
.add-new-form .group {
    display: flex;
    flex-direction: column;
}
.add-new-form .group > label,
.add-new-form .group > input,
.add-new-form .group > select {
    flex: 1;
    margin: 5px 5px 5px 0;
}
.add-new-form .row {
    display: flex;
    flex-direction: row;
}

.pull-down {
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    background-color: rgba(36, 46, 71, 0.75);
    padding: 10px;
}

/* gradients */
.grad-red {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
}
.grad-blue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
}
.grad-gray {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce));
}
.grad-transparent {
    background: -webkit-linear-gradient(top, rgba(252,255,244,0) 0%,rgba(221,221,221,1) 100%);
}