@import url("globals.css");

ol {
    color: #aaa;
    /*padding: 0 1.5em;*/
}
ol > li {
    padding: 0 5px;
}
ol > li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
ol > li > h3 {
    color: #333;
}
ol > li > span,
ol > li > ul > li {
    color: #aaa;
    font-size: 14px;
}
ol > li > span > small {
    float: right;
    font-size: 13px;
}

article {
    background: white;
}
header {
    border-bottom: 1px solid #e6e6e6;
    background: rgb(36, 46, 71);
    /*min-height: 50px;*/
    /*max-height: 75px;*/
}
footer {
    background-color: whitesmoke;
}
main {
    padding: 1em 0;
    /*background-color: whitesmoke;*/
}
aside {
    box-sizing: border-box;
    flex: 4;
    /*width: 30%;*/
}
section {
    /*display: flex;
    flex-direction: column;
    flex: 10;*/
    /*text-align: center;*/
    box-sizing: border-box;
    /*max-width: 75%;*/
    margin: auto;
}
search {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 5px;
    /*box-shadow: 0px 0px 0px 15px #f9f9f9, inset 0px 0px 0px 1px #e9e9e9;*/
}
search:hover {
    /*box-shadow: inset 0px 0px 0px 1px #eee;*/
}
.search-cnt {
    /*flex: 1 1 auto;*/
    text-align: center;
    /*max-width: 70%;*/
    /*min-height: 50px;*/
    color: #aaa;
    /*margin: auto;
    font-size: 30px;
    max-width: 75%;*/
}
.search-cnt input {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-weight: normal;
    /*border-width: 0 0 2px 0;*/
    flex: 1;
    outline: none;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    /*padding: 20px;
    text-align: center;*/
}
.search-cnt .ng-dirty {
    color: #fff;
    font-weight: bold;
}
.search-cnt button {
    flex: none;
    border: none;
    background: transparent;
    /*border: 1px solid #ddd;*/
    /*padding: 0 20px;
    font-size: 2em;*/
}
.search-cnt label {
    padding: 10px;
    margin: auto;
}
.search-cnt span {
    flex-direction: end;
}
.search-cnt button {
    flex: none;
}
.search-cnt i {
    margin: auto 5px;
}
video {
    background-color: #111;
    border: 1px solid #bbb;
}

/*navigation
**************************/
nav {
}
nav ul {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex: 1;*/
}
nav ul > li {
    /*flex: 1;*/
    color: #474747;
    margin: auto;
}
/*nav ul > li > div {
    margin: auto;
}*/
.nav-bar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ededed;
    position: relative;
    transition: all .5s;
    height: 50px;
}
.side-menu ul li {
    border: 1px solid #111;
    border-bottom: none;
}
.side-menu ul li:first-child {
    border-radius: 3px 3px 0 0;
}
.side-menu ul li:last-child {
    border-bottom: 1px solid #111;
    border-radius: 0 0 3px 3px;
}
.pull-down {
    /*position: absolute;*/
    /*top: 100%;*/
    /*z-index: 2;*/
    width: 100%;
    background-color: rgba(36, 46, 71, 0.75);
    height: 0;
    transition: all .5s;
    overflow: hidden;
}
.pull-down.item-expand {
    opacity: 1;
    height: 100px;
}
nav.item-expand {
    height: 150px;
}
.selected {
    background-color: blue;
}

/*CONTENT LIST
*********************/
.video-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.video-list li .video-thumb {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    min-width: 120px;
    min-height: 100px;
    background: #333;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 1px;
}
.video-list li .video-thumb .video-title {
    display: flex;
    flex-direction:column;
    flex: 1;
    color: #ddd;
    margin: auto;
}
.video-list li .video-thumb .video-title a {
    margin: auto;
}
.video-list li .video-thumb .video-details {
    flex: none;
    color: #888;
    font-size: 11px;
    padding: 5px;
}
.video-list.border-left {
    border-left: 2px solid #ddd;
    padding-left: 1px;
}

/*MODAL
*********************/
.modal-mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    opacity: .5;
    transition: all 400ms;
}
.modal-mask.show-modal {
    opacity: 1;
}
.modal {
    min-height: 300px;
    min-width: 500px;
    background: #fff;
    box-shadow: 0 0 50px 0 #000;
    position: relative;
}
.modal .close {
    color: #fff;
    font-size: 20px;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 0px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}
.modal .close:hover {
    background: #fff;
    color: #ddd;
}

/*FORM
*****************/
.add-new-form {
    /*width: 75%;*/
}
.add-new-form .group {
    display: flex;
    flex-direction: row;
}
.add-new-form .group > label,
.add-new-form .group > input,
.add-new-form .group > select,
.add-new-form .group > textarea {
    flex: 1;
    margin: 5px 5px 15px 0;
}
.add-new-form .row {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

/* gradients */
.grad-red {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
}
.grad-blue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
}
.grad-gray {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce));
}
.grad-transparent {
    background: -webkit-linear-gradient(top, rgba(252,255,244,0) 0%,rgba(221,221,221,1) 100%);
}

.tip {
    width: 100%;
    margin: 1em auto;
    border-left: 3px solid #e1e1e1;
    padding: .5em;
    background: #fafafa;
    font-size: 12px;
    color: #555;
}